---
layout: page
title: bitsgalore.org
---
{% include JB/setup %}


{% for post in paginator.posts %}
   <div class="post-entry">
   <h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
   <div class="date">
    <span>{{ post.date | date_to_long_string }}</span>
   </div>
   <!-- This creates excerpt based on user-defined separator (which needs to be inserted in each post! -->
   {{ post.content | split: '<!-- more -->' | first }}
   <div class="buttonArea">
   <a href="{{ BASE_PATH }}{{ post.url }}" class="button">Read more ...</a>
  </div>
   {% unless post.tags == empty %}
   <ul class="tag_box inline">
     <li><i class="icon-tags"></i></li>
     {% assign tags_list = post.tags %}
     {% include JB/tags_list %}
   </ul>
  {% endunless %}
   </div>
   <hr>
{% endfor %}

<!-- Pagination links -->

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Newer</a>
  {% else %}
    <a href="#" class="active">&laquo; Newer</a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <a href="#" class="active">{{ page }}</a>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older &raquo;</a>
  {% else %}
    <a href="#" class="active">Older &raquo;</a>
  {% endif %}
</div>
{% endif %}
<hr>


