---
---

#container {
    /*width:1200px;
    margin:20px auto;*/
}

#header {
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}


#content {
    float:left;
    width:48%;
    max-width: 730px;
    min-width: 500px;
    /*min-width: 740px;
    max-width: 740px;*/
}

#footer {
    clear:both;
}

#sidebarLeft {
    float:left;
    width:17%;
    min-height: 1px;
}

#sidebarRight {
    float:left;
    width:35%;
    min-width: 200px;
    max-width: 500px;
}

#sidebarFooterLeft {
    float:left;
    width:17%;
    min-height: 1px;
}

.banner-header{
    padding-top: 50px;
    margin-bottom: 50px;
  }

.banner-tagline{
  font-family: 'Lato';
  font-size:32px;
  letter-spacing:5px;
  font-weight:bold;
  text-align:center;
  color:#595959;
  padding-top: 30px;
  margin-bottom: 0px;
  }

.footnotes{
  border-top: 2px solid black;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 15px;
  }

.pagination{
  text-align:center;
  font-size:14px;
  font-weight:bold;
  }

.pagination em{
text-decoration: underline;
  }

.post-entry{padding-bottom:25px;}

.post-entry .date {
  margin-bottom: 20px;
  font-weight: bold;
  color: #666666;
}

.post-entry small{
  color: #666666;
}

footer {
}
  
.sidebarGroup{
  font-family: 'Lato';
  font-size:18px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 150px;
  margin-right: 0px;
  border-bottom: 2px solid black;
  }
  
.sidebarGroup p{
  line-height:20px;
  }  

.sidebarGroup h2{
  font-family: 'Lato';
  font-weight: bold;
  font-size:20px;
  line-height:22px;
  } 

.sidebarGroup h3{
  font-family: 'Lato';
  font-weight: bold;
  font-size:20px;
  line-height:22px;
  } 

.sidebarGroup small{
  color:#404040;
}

.sidebarGroup figure figcaption{
    font-size:14px;
    text-align: center;
    font-style:normal;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    }

body{
    font-family: 'Lato';
    font-size: 22px;
    line-height: 33px;
  }
  
blockquote p{
  margin-bottom:0; font-size:20px; font-style:italic; font-weight:400 ;}

h1{
    font-family: 'Lato';
    font-size:48px;
    line-height: 54px;
    font-weight: bold;
    text-align:left;
    /*padding-bottom:20px;*/
}

h2{
    font-family: 'Lato';
    font-size:30px;
    font-weight: bold;
    text-align:left;
}

h3{
    font-family: 'Lato';
    font-size:26px;
    font-weight: bold;
    text-align:left;
}
.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
 }

figure{
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left:0px;
  padding-right:0px;
  margin-top:0px;
  margin-bottom:20px;
  }

figure figcaption{
    font-size:18px;
    font-style:italic;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;}

table{
  font-size:18px;line-height:22px;
  border-collapse:collapse;
  margin-top: 10px;
  margin-bottom: 20px;
  }

td, th{
 padding:15px;
 border: 1px solid black; }

li {
  line-height: 35px; }

code{
    font-size:16px;
}

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold;
  color: #666666;
}

/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

  .github-comments ul{
    list-style-type: none;
    border-top: 1px solid black;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.github-comments li{
  border-bottom: 1px solid black;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 20px
}
